# deny direct access
order deny,allow
deny from all

# allow access from these Bitbucket IPs
allow from 131.103.20.160/27
allow from 165.254.145.0/26
allow from 104.192.143.0/24

# php errors
php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag log_errors on
php_value error_log php_errors.log
